@import  url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: Montserrat;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: #555;
  display: inline-block;
  margin-left: 15px;
  font-size: 30px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 74px;
  width: 30px;
}

.bounceball::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #555;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}

@keyframes bounce {
  0% {
    top: 60px;
    height: 10px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 30px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
